/node_modules
/public/hot
/public/storage
/public/uploadedImage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/public/laravolt
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

laravel-echo-server\.json

laravel-echo-server\.lock

laravel-echo.server.lock

horizon\.log
.idea/*
laradock/*
