body {
    font-size: 16px;
}

.ui.menu {
    border: none;
}

.ui.fluid.container {
    width: 95%;
}

.ui.menu .item:before {
    content: none;
    height: 0;
}

.redactor-toolbar {
    z-index: 0 !important;
}
